<html>
<head>
<style>
/* Example custom styles */
body {
  background-color: #9fb9e5;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #f2d1d1;
  color: #fff;
  padding: 10px;
}

.content {
  margin: 50px;
}
.nav{
  color: blue;
}
</style>
</head>
<body>
<h1>Welcome to ticket booking application</h1>


</body>
</html>
